@import "./reset.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

:root{
    --blackpure:#000;
    --black:#171718;
    --black-border:#10107afb;
    --white:#fff;
    --purple:#a300a3;
    --orange: #f1a246;
}
.home{/* Главная */
    display: flex;
    flex-direction: column;
    min-height: 100vh; 

    font-family: 'DM Sans', sans-serif;
    letter-spacing: -0.5px; 
}
.component__1{/* Component 1 */
    position: absolute;
    width: 1440px;
    height: 102px;
    left: 15%; /* 0px */
    top: 0px;
}
.main{/* Main */

position: absolute;
left: 38.42%;
right: 57.15%;
top: 43.81%;
bottom: 44.76%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;/*  12px */
line-height: 12px;
/* identical to box height, or 100% */
letter-spacing: 0.2em;
text-transform: uppercase;

/* Gray 1 */
color: #333333;
}
.gallery{/* GALLERY */

position: absolute;
left: 46.54%;/* 46.04% */
right: 49.44%;
top: 43.81%;
bottom: 44.43%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;/*  12px */
line-height: 12px;
/* identical to box height, or 100% */
letter-spacing: 0.2em;
text-transform: uppercase;

/* Gray 1 */
color: #333333;
}
.projects{/* PROJECTS */

    position: absolute;
    left: 56.79%;/* 54.79% */
    right: 39.93%;
    top: 44.12%;
    bottom: 45.1%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;/*  12px */
    line-height: 12px;
    /* or 100% */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
    /* Gray 1 */
    color: #333333;
    
}
.certifications{/* CERTIFICATIONS */

    position: absolute;
    left: 68.89%;/* 63.89% */
    right: 27.57%;
    top: 44.12%;
    bottom: 45.1%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;/*  12px */
    line-height: 12px;
    /* or 100% */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
    /* Gray 1 */
    color: #333333;
}
.contacts{/* COntacts */

    position: absolute;
    left: 84%;/* 75.83% */
    right: 18.68%;
    top: 43.81%;
    bottom: 44.76%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;/*  12px */
    line-height: 12px;
    /* identical to box height, or 100% */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
    /* Gray 1 */
    color: #333333;
}
.vector{/* Vector */

position: absolute;
left: 9.38%;
right: 85.86%;
top: 59.22%;
bottom: 28.57%;
/* 
background: url(Без имени-1 копия.png); */
}
.vector__1{/* Vector__1 */
    position: absolute;
    left: 9.38%;
    right: 85.86%;
    top: 10%;
    bottom: 28.57%;
}
.rectangle__20{/* Rectangle 20 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

}
.rectangle__6{/* Rectangle 6 */

position: absolute;
width: 770px;
height: 829px;
left: 1000px;/* 535px */
top: 105px;

background: url(.jpg), #C4C4C4;
}
.frame__10{/* Frame 10 */

position: absolute;
width: 221.81px;
height: 71px;
left: 1000.66px;/* 534.66px */
top: 860px;
}
.project{/* PROJECT */

    position: absolute;
    width: 277.76px;
    height: 64px;
    left: 235px; /* 135px */
    top: 438px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    /* identical to box height, or 100% */
    
    /* Gray 4 */
    color: #BDBDBD;
}
.lorum{/* Lorum */

    position: absolute;
    width: 186px;
    height: 64px;
    left: 235px;/* 135px */
    top: 502px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    /* identical to box height, or 100% */
    
    /* Gray 1 */
    color: #333333;
}
.frame__8{/* Frame 8 */

    position: absolute;
    width: 52.95px;
    height: 53px;
    left: 310.94px;/* 210.94px */
    top: 656px;
}
.frame__9{/* Frame 9 */
    position: absolute;
    width: 52.95px;
    height: 53px;
    left: 235px;/* 135px */
    top: 656px;
}
.group__13{
    position: absolute;
    width: 1170px;
    height: 465px;
    left: px;/* 1054px */  
    top: 0px;  /* 1054px */  
}
.rectangle__7{/* Rectangle 7 */

    box-sizing: border-box;
    
    position: absolute;
    width: 53px;
    height: 53px;
    left: 35%;/* 0px */
    top: 0px;
    
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
}
.rectangle__8{/* Rectangle 8 */

    position: absolute;
    width: 270px;
    height: 265px;
    left: 335px;
    top: 1084px;
    
    background: url(.jpg), #C4C4C4;
}
.rectangle__9{/* Rectangle 9 */

    position: absolute;
    width: 270px;
    height: 345px;
    left: 635px;
    top: 1114px;
    
    background: url(.jpg), #C4C4C4;
}
.rectangle__10{/* Rectangle 10 */

    position: absolute;
    width: 270px;
    height: 140px;
    left: 335px;
    top: 1379px;
    
    background: url(.jpg), #C4C4C4;
}
.about{/* About */

    position: absolute;
    width: 168px;
    height: 64px;
    left: 105%;/* 835px */
    top: 1084px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    /* identical to box height, or 100% */
    
    /* Gray 4 */
    color: #BDBDBD;
}
.lorem__ipsum{/* Lorem Ipsum */
    position: absolute;
    width: 400px;
    height: 200px;
    left: 105%;/* 835px */
    top: 1168px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    
    color: #000000;
}
.frame__20{/* Frame 20 */

    position: absolute;
    width: 1170px;
    height: 268px;
    left: 135px;
    top: 1639px;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.main__focus{/* Main Focus/Mission Statement */

position: absolute;
width: 881px;
height: 64px;
left: 16.5%;/* 0px */
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 64px;
line-height: 64px;
/* Gray 4 */
color: #BDBDBD;
/* identical to box height, or 100% */
}
.group__16{/* Group 16 */

    position: absolute;
    width: 413px;
    height: 144px;
    left: 0px;
    top: 124px;}
.group__16-1{/* 1 */

    position: absolute;
    width: 104px;
    height: 140px;
    left: 180px;/* 0px */
    top: 126px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 234px;
    display: flex;
    align-items: center;

    /* Gray 6 */
    color: #F2F2F2;}
.lorem__ipsum-1{/* Lorem ipsum dolor*/
    position: absolute;
    width: 279px;
    height: 144px;
    left: 315px;/* 134*/
    top: 124px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    /* or 164% */
    
    /* Gray 1 */
    color: #333333;}
.group__15{/* Group 15 */

    position: absolute;
    width: 570px;
    height: 144px;
    left: 400px;/* 600px */
    top: 124px;}
.group__15-2{/* 2 */

    position: absolute;
    width: 120px;
    height: 140px;
    left: 600px;
    top: 126px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 234px;
    display: flex;
    align-items: center;
    
    /* Gray 6 */
    color: #F2F2F2;}
.lorem__ipsum-2{/* Lorem ipsum dolor*/ 
position: absolute;
width: 420px;
height: 144px;
left: 750px;
top: 124px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 36px;
/* or 164% */

/* Gray 1 */
color: #333333;
}
.group__79{/* Our Projects */

    position: absolute;
    width: 346px;
    height: 64px;
    left: 135px;
    top: 2027px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    /* identical to box height, or 100% */
    
    /* Gray 4 */
    color: #BDBDBD;}
.image__16{/* image 16 */

    position: absolute;
    width: 270px;
    height: 255px;
    left: 135px;
    top: 2436px;
    
    background: url(image.png);}
.rectangle__16{/* Rectangle 16 */

    position: absolute;
    width: 270px;
    height: 255px;
    left: 197px;/* 2436px */
    top: 336px;/* 2436px */
    
    background: url(.jpg), #C4C4C4;}
.image__17{/* image 17 */

position: absolute;
width: 470px;
height: 255px;
left: 435px;
top: 2436px;

background: url(image.png);}
.rectangle__15{/* Rectangle 15 */

position: absolute;
width: 470px; /* знаю что растянулся, тз... */
height: 255px;
left: 870px;/* 435px */
top: 336px;/* 2436px */

background: url(.jpg), #C4C4C4;}
.image__15{/* image 15 */

position: absolute;
width: 570px;
height: 255px;
left: 735px;
top: 2151px;

background: url(image.png);}
.image__18{/* image 18 */

position: absolute;
width: 370px;
height: 255px;
left: 935px;
top: 2436px;

background: url(image.png);}
.rectangle__14{/* Rectangle 14 */

position: absolute;
width: 370px;
height: 255px;
left: 497px;/* 935px; */
top: 336px;/* 2436px */

background: url(.jpg), #C4C4C4;}
.group__17{/* Group 17 */

position: absolute;
width: 233px;
height: 160px;
left: 214px;
top: 2199px;}
.rectangle__17{/* Rectangle 17 */

position: absolute;
width: 570px;
height: 255px;
left: 135px;
top: 2151px;

/* Gray 1 */
background: #333333;
opacity: 0.8;}
.rectangle__12{/* Rectangle 12 */

position: absolute;
width: 570px;
height: 255px;
left: 135px;
top: 2151px;

/* background: url(image 15.png), #C4C4C4; */}
.our__projects{/* Our Projects */
position: absolute;
width: 346px;
height: 64px;
left: 197px;/* 135px */
top: 130px;/* 2027px */

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 64px;
line-height: 64px;
/* identical to box height, or 100% */

/* Gray 4 */
color: #BDBDBD;}
.group__91{/* Group 91 */

    position: absolute;
    width: 233px;
    height: 160px;
    left: 214px;
    top: 2199px;}
.sample__project{/* Sample Project */

    position: absolute;
    width: 233px;
    height: 128px;
    left: 1214px;/* 214px*/
    top: 245px;/* 2199px*/
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    /* or 100% */
    
    color: #333333;}
.frame__11{/* Frame 11 */

    position: absolute;
    width: 222px;
    height: 71px;
    left: 835px;
    top: 1388px;}
.group__18{/* Group 18 */

    position: absolute;
    width: 143px;
    height: 24px;
    left: 39px;
    top: 24px;}
.all__projects{/* All Projects */

    position: absolute;
    width: 109px;
    height: 12px;
    left: 39px;
    top: 30px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
    color: #FFFFFF;}
.arrow-2-right-long{/* arrow-2-right-long */
    position: absolute;
    width: 24px;
    height: 24px;
    left: 958px;/* 158px */
    top: 1170px;/* 24px */
    background: #f10a0a;}
.rectangle__1{/* Rectangle 1 */

    position: absolute;
    width: 222px;
    height: 71px;
    left: 269%;/* 0px */
    top: 1159px;/* 0px */
    
    /* Gray 1 */
    background: #333333;}
.footer{/* Footer */

    position: absolute;
    width: 100%;/* 3635px */
    height: 417px;
    left: 0px;
    top: 2645px;/* 3635px */
    background-color: var(--black);
    color: var(--white); }
.group-11-1{/* Group 11 1 */

    position: absolute;
    width: 145px;
    height: 94px;
    left: 13%;/* 116px */
    top: 13%;/* 58px */
    
    /* background: url(Group 11.png);*/}
.group__2{/* Group 2 */

    position: absolute;
    left: 25%;
    right: 32.99%;
    top: 13.91%;
    bottom: 31.18%;}    
.footer__information{/* Information */

    position: absolute;
    left: 25%;
    right: 67.85%;
    top: 13.91%;
    bottom: 81.29%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
    
    color: #ffffff;}
.contacts-1{/* Contacts */

    position: absolute;
    left: 43.06%;
    right: 51.74%;
    top: 13.91%;
    bottom: 81.29%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
    
    color: #FFFFFF;}
.contacts-2{/* Contacts */

    position: absolute;
    left: 25.07%;
    right: 70.49%;
    top: 63.07%;
    bottom: 31.18%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    
    color: #FFFFFF;}
.footer__certifications{/* Certifications */

    position: absolute;
    left: 25.07%;
    right: 68.4%;
    top: 53.48%;
    bottom: 40.77%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    
    color: #FFFFFF;}
.footer__projects{/* Projects */

    position: absolute;
    left: 25.07%;
    right: 70.69%;
    top: 43.88%;
    bottom: 50.36%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    
    color: #FFFFFF;}
.footer__gallery{/* Gallery */

    position: absolute;
    left: 25.07%;
    right: 71.04%;
    top: 34.29%;
    bottom: 59.95%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    
    color: #FFFFFF;}
.footer__main{/* Main */

    position: absolute;
    left: 25.07%;
    right: 69.24%;
    top: 24.7%;
    bottom: 69.54%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    
    color: #FFFFFF;}
.footer__address{/* 1234 Sample Street Austin Texas 78704 */

    position: absolute;
    left: 45.21%;
    right: 32.99%;
    top: 24.7%;
    bottom: 58.03%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    
    color: #FFFFFF;}
.footer__time{/* Пн-Пт с 10:00 - 19:00 */

    position: absolute;
    left: 45.21%;
    right: 32.99%;
    top: 34.7%;
    bottom: 58.03%;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        /* identical to box height, or 171% */
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        
        color: #FFFFFF;}
.footer__mail{/* sampleemail@gmail.com */

    position: absolute;
    left: 45.21%;
    right: 42.22%;
    top: 63.07%;
    bottom: 31.18%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    
    color: #FFFFFF;}
.footer__number{/* 512.333.2222 */

    position: absolute;
    left: 45.21%;
    right: 46.67%;
    top: 49.64%;
    bottom: 44.6%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    
    color: #FFFFFF;}
.vector__addres{/* Vector__addres */

    box-sizing: border-box;
    
    position: absolute;
    left: 43.12%;
    right: 56.11%;
    top: 23%;
    bottom: 71.46%;
    
    border: 1px solid #FFFFFF;}
.vector__number{/* Vector__number */
    position: absolute;
    left: 43.12%;
    right: 55.76%;
    top: 47.64%;
    bottom: 46.52%;}
.vector__mail{/* Vector__mail*/
    position: absolute;
    left: 43.12%;
    right: 55.76%;
    top: 63.27%;
    bottom: 33.09%;}
.follow__us{/* follow__us */

    position: absolute;
    left: 83.06%;
    right: 51.74%;
    top: 13.91%;
    bottom: 73.29%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    
    color: #FFFFFF;}
.facebook{/* facebook */

    position: absolute;
    left: 83.06%;
    right: 51.74%;
    top: 33.91%;
    bottom: 73.29%;}
.twitter{/* twitter */

    position: absolute;
    left: 87.06%;
    right: 51.74%;
    top: 33.91%;
    bottom: 73.29%;}
.linked__in{/* linked__in */

    position: absolute;
    left: 91.57%;
    right: 51.74%;
    top: 33.91%;
    bottom: 73.29%;}
.pininterest{/* pininterest */

    position: absolute;
    left: 96.06%;
    right: 51.74%;
    top: 33.91%;
    bottom: 73.29%;}


