@import "./reset.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');


:root{
    --blackpure:#000;
    --black:#171718;
    --black-border:#10107afb;
    --white:#fff;
    --purple:#a300a3;
    --orange: #f4e80178;
    --color-text:#333333;
    --color-title-1:#BDBDBD;
    --color-title-2:#FFFFFF;
    --fon-text:#eeeeee;
}

html,body{

    display: flex;
    flex-direction: column;
    min-height: 100vh; 

    font-family: 'DM Sans', sans-serif;
    letter-spacing: -0.5px; 


    /*(Light mode)*/

    background-color:var(--page-bg);/*(+!)*/
    color: var(--text-color);/*(+!)*/
}

    /* Nav бургер */
.nav{
        padding: 20px 0;
        border-bottom: 1px solid var(--white); /*полоска*/
        background-color:var(--white);/*фон*/
        color:var(--color-text);
        letter-spacing: normal;  

        background-color:var(--white);
}
.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;  
}
.nav-list{
    display: flex;
    align-items:center;
    column-gap:40px;
    font-size: 17px; 
    font-weight: 400;
    font-family: 'Roboto';
    row-gap: 10px;
    flex-wrap: wrap; 
    color:var(--col-text);
}
.nav-list__link{
    color:var(--color-text);
    transition: opacity 0.2s ease-in; 
}
.nav-list__link:hover{
    opacity: 0.8;
}
.nav-list__link--active{
    position: relative;
}
.nav-row{
    display: flex ; 
    justify-content: flex-end;

    align-items: center;
    column-gap: 30px; 
    row-gap: 20px;
    flex-wrap: wrap; 
}
.logo{
    margin-right: auto;
    color:var(--blackpure);
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}
.logo strong{
    font-weight: 700;
}

/* Header */
.header{
    padding: 40px 18.6%;
    min-height: 695;
    
    display: flex;
    justify-content: left; 
    align-items:center; 
    /* background-color:antiquewhite;  */
    background-color:var(--white); 
}
.header__wrapper{
    padding: 0 15px;
    max-width: 660px; 
}
.header__title-1 strong{ 
    width: 277.76px;
    height: 64px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
flex: none;
order: 0;
flex-grow: 0;
}
.header__title-1 em{
    
    font-style: normal;
    color:var(--black);
}
.header__title-2 strong{ 
    width: 203px;
    height: 64px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #333333;
flex: none;
order: 1;
flex-grow: 0;

}
.header__title-2 em{
    font-style: normal;
    color:var(--black);
}

/* Main */
.section{
    position: relative;
    width: 1440px;
    height: 1312.5px;
    left: 270px;
    top: 0px;

    /* padding: 40px 18.6%;
    min-height: 695;
    
    display: flex;
    justify-content: left; 
    align-items:center; 

    background-color:#06871e; */
}
.container-1{
    position: absolute;
    width: 1440px;
    height: 435px;
    left: 0px;
    top: 0px;
    background-color:var(--fon-text);
}
.continer-1__img{
    position: absolute;
    width: 470px;
    height: 335px;
    /* left: 235px; */
    top: 50px;
    background: url(image.png);
}
.continer-1__title{
    position: absolute;
    width: 440px;
    height: 47px;
    left: 735px;
    top: 55px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */
    color: #BDBDBD;
}
.continer-1__text{
    position: absolute;
    width: 400px;
    height: 120px;
    left: 735px;
    top: 135px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    /* or 156% */
    color: #000000;
}
.continer-1__frame{
    position: absolute;
    width: 222px;
    height: 71px;
    left: 735px;
    top: 300px;
}
.container-2{
    position: absolute;
    width: 1440px;
    height: 435px;
    left: 0px;
    top: 439px;
    background-color:var(--fon-text);
}
.continer-2__img{
    position: absolute;
    width: 470px;
    height: 335px;
    /* left: 235px; */
    top: 50px;
    background: url(image.png);
}
.continer-2__title{
    position: absolute;
    width: 440px;
    height: 47px;
    left: 735px;
    top: 55px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    color: #BDBDBD;
}
.continer-2__text{
    position: absolute;
    width: 400px;
    height: 120px;
    left: 735px;
    top: 135px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
}
.continer-2__frame{
    position: absolute;
    width: 222px;
    height: 71px;
    left: 735px;
    top: 300px;
}
.container-3{
    position: absolute;
    width: 1440px;
    height: 435px;
    left: 0px;
    top: 878px;
    background-color:var(--fon-text);
}
.continer-3__img{
    position: absolute;
    width: 470px;
    height: 335px;
    /* left: 235px; */
    top: 50px;
    background: url(image.png);
}
.continer-3__title{
    position: absolute;
    width: 440px;
    height: 47px;
    left: 735px;
    top: 55px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    color: #BDBDBD;
}
.continer-3__text{
    position: absolute;
    width: 400px;
    height: 120px;
    left: 735px;
    top: 135px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
}
.continer-3__frame{
    position: absolute;
    width: 222px;
    height: 71px;
    left: 735px;
    top: 300px;
}

/*footer*/ 
.footer{
    margin-top: auto;

    padding: 40px 0 40px;   
    background-color:var(--black);
    color:var(--white);
}
.footer__wrapper{ 
    display: flex; 
    flex-direction: column; 
    align-items:center; 

    row-gap: 27px; 
}
.social{ 
    display: flex; 
    column-gap: 30px; 
    align-items: center; 
}
.copyright{ 
    font-size: 16px;   
} 
.copyright p+p{  
    margin-top: 0.5em;      
} 

